/*.opensdf
/*.sdf
/ipch
/portable
/Release
/Debug
/foo_basic_template/Release
/foo_basic_template/Debug
/foobar2000_sdk/foobar2000/ATLHelpers/Release
/foobar2000_sdk/foobar2000/ATLHelpers/Debug
/foobar2000_sdk/foobar2000/foobar2000_component_client/Release
/foobar2000_sdk/foobar2000/foobar2000_component_client/Debug
/foobar2000_sdk/foobar2000/helpers/Release
/foobar2000_sdk/foobar2000/helpers/Debug
/foobar2000_sdk/foobar2000/SDK/Debug
/foobar2000_sdk/foobar2000/SDK/Release
/foobar2000_sdk/pfc/Debug
/foobar2000_sdk/pfc/Release
